@import '../../varibales';

.root {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 9px;

  color: #212121;
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 11px;

  cursor: pointer;
  outline: 0;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    padding: 0 20px 6px;
  }
}

.small {
  height: 40px;
  font-size: 17px;
}
