@import '../../varibales.scss';

.root {
  overflow: hidden;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  height: calc(100vh - 93px);
}

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 777px;
}

.contentText {
}

.contentParallax {
}
