@import '../../varibales';
.root {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 4px;
  color: #000000;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}
