.header {
  width: 100%;
  background-color: #f5db13;
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
  padding: 15px 0;
}

.wrapper {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;

  text-decoration: none;
  color: #212121;

  padding-bottom: 16px;
}
.link_selected {
  border-bottom: 3px solid #212121;
}
